modules = ["python-3.12", "nix"]
run = "cd src &&  cd gamblingandorangesconsolegames && python main.py"

[nix] # type: ignore
channel = "stable-24_05"

[deployment] # type: ignore
run = [
  "sh",
  "-c",
  "cd src && cd gamblingandorangesconsolegames && python main.py",
]
